.container{
    margin:0 auto;
}
.node{
    width:3em;
    height: 3em;
    text-align: center;
    border:2px solid #3EB5C6;
    border-radius: 50%;
}

.node h3{
    margin:.5em auto;
    color:#292929;
}
.subtree{
    width:1%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.subtree> .children{
    display: flex;
    justify-content: space-between;
}
.left{
    justify-content: flex-start !important;
}

.right{
    justify-content: flex-end !important;
}
.tree{
    width:50%;
    margin-top: 10em;
    display: flex;
    justify-content: flex-end;
}

.visited{
    background-color: #3EB5C6;
}

input{
    border:1px solid #3EB5C6;
    border-radius: 3px;
    height: 2em;
    color:#292929;
    font-weight: 500;
}

.navbar{
    margin-top: 10em;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid teal;
    padding-bottom: 2em;
}

.key{
    width:27%;
    display: flex;
    justify-content: space-around;

}

button{
    background-color: teal;
    border: none;
    width:12em;
    padding:0 2em;
    font-family: 'Montserrat';
    /* letter-spacing: 0.1rem; */
    font-size: 0.7rem;
    border-radius: 2px;
    padding: 0.5em;
    color:white;
}

input:hover,button:hover{
cursor: pointer;
}
button:focus{
    outline: none !important
  
}

input:focus{
    outline: none !important
  
}

.logo h6{
    position: absolute;
    left: 3em;
    border: 2px solid teal;
    top:3em;
    padding:1em;
    margin: 0;
    color:teal;
}